<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582630173242-qgdt0f8rpcd2iqveon4nef65uu45prnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582630173242-qgdt0f8rpcd2iqveon4nef65uu45prnt</string>
	<key>API_KEY</key>
	<string>AIzaSyBCpLjJL27hF41xuXf6cS62mtd8vfA9_uc</string>
	<key>GCM_SENDER_ID</key>
	<string>582630173242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capston</string>
	<key>PROJECT_ID</key>
	<string>capston-5713f</string>
	<key>STORAGE_BUCKET</key>
	<string>capston-5713f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582630173242:ios:83a6fc1a2052a607d1e303</string>
	<key>DATABASE_URL</key>
	<string>https://capston-5713f-default-rtdb.firebaseio.com</string>
</dict>
</plist>